.drop-links__content{
    display: flex;
    align-items: flex-end;

    transition-duration: 300ms;
}

.drop-links__content-active{
    display: flex;
    align-items: center;

    transition-duration: 300ms;
}

.drop-links__content-svg{
    cursor: pointer;
    color: var(--main-white);
    stroke: var(--main-white);
    margin-right: calc(10 / 1920 * 100vw);

    transition-duration: 300ms;
}
.drop-links__content-svg-active{
    cursor: pointer;
    color: var(--main-white);
    stroke: var(--main-white);
    transform: rotate(180deg);
    margin-right: calc(10 / 1920 * 100vw);

    transition-duration: 300ms;
}

.drop-links__content-main-text{
    font-size: calc(24 / 1920 * 100vw);
}

.drop-links__content-main-text:hover{
    cursor: pointer;
    color: #F29C9B;
    transition-duration: 300ms;
}

.drop-links__content-main-text:active{
    cursor: pointer;
    color: var(--main-pink);
    opacity: 0.5;
    transition-duration: 300ms;
}

.drop-links__content-un-visible{
    display: block;
    font-size: calc(16 / 1920 * 100vw);
    padding-top: calc(10 / 1920 * 100vw);
}

.drop-links__content-un-visible:hover{
    color: var(--main-pink);
    transition-duration: 300ms;
}

.drop-links__content-un-visible:active{
    opacity: 0.5;
    transition-duration: 300ms;
}

.drop-links__content-un-visible-span{
    color: var(--main-pink);
    margin-right: calc(24 / 1920 * 100vw);
}

@media (max-width: 820px){
    .drop-links__content-main-text{
        font-size: calc(24 / 640 * 100vw);
        margin-right: calc(10 / 640 * 100vw);
    }
    .drop-links__content-svg{
        margin-right: calc(10 / 640 * 100vw);
    }
    .drop-links__content-svg-active{
        margin-right: calc(10 / 640 * 100vw);
    }

    .drop-links__content-main-text{
        font-size: calc(24 / 640 * 100vw);
    }

    .drop-links__content-un-visible{
        font-size: calc(16 / 640 * 100vw);
    }

    .drop-links__content-un-visible-span{
        margin-right: calc(24 / 640 * 100vw);
    }

}

@media (max-width: 420px) {
    .drop-links__content-main-text{
        font-size: calc(24 / 420 * 100vw);
        margin-right: calc(10 / 420 * 100vw);
    }

    .drop-links__content-svg{
        margin-right: calc(10 / 420 * 100vw);
    }

    .drop-links__content-svg-active{
        margin-right: calc(10 / 420 * 100vw);
    }
    .drop-links__content-main-text{
        font-size: calc(24 / 420 * 100vw);
    }

    .drop-links__content-un-visible{
        font-size: calc(16 / 420 * 100vw);
    }

    .drop-links__content-un-visible-span{
        margin-right: calc(24 / 420 * 100vw);
    }
}