.main-link{
    display: block;
    width: calc(330 / 1920 * 100vw);
    padding-top: calc(10 / 1920 * 100vw);
    padding-bottom: calc(10 / 1920 * 100vw);

    border: 1px solid var(--main-pink);
    background-color: var(--main-pink-transponent);
    border-radius: 5px;

    text-align: center;
    color: var(--main-pink);

    transition-duration: 300ms;
}
.main-link:hover{
    border: 1px solid var(--main-gray);
    background-color: var(--main-gray-transponent);
    border-radius: 5px;

    color: var(--main-white);

    transition-duration: 300ms;
}

.main-link:active{
    scale: 0.8;
    opacity: 0.5;
    transition-duration: 300ms;
}

@media (max-width: 820px){
    .main-link{
        width: calc(330 / 640 * 100vw);
        padding-top: calc(10 / 640 * 100vw);
        padding-bottom: calc(10 / 640 * 100vw);
        font-size: calc(16 / 640 * 100vw);
    }
}

@media (max-width: 420px) {
    .main-link{
        width: calc(330 / 420 * 100vw);
        padding-top: calc(10 / 420 * 100vw);
        padding-bottom: calc(10 / 420 * 100vw);
        font-size: calc(16 / 420 * 100vw);
    }
}