.card-education-bg {
    width: calc(370/1920 * 100vw);
    height: calc(476/1920 * 100vw);
    position: relative;
    align-items: bottom;
    justify-content: left;
    border-radius: 20px;
    border: 2px solid #8F8F8F;
    background: #262626;
    flex-direction: column;
    padding-top: calc(33/1920 * 100vw);
    padding-left: calc(18/1920 * 100vw);
    padding-right: calc(23/1920 * 100vw);
    padding-bottom: calc(26/1920 * 100vw);
}

.card-education-years-text {
    color: #FFF;
    font-family: Inter;
    font-size: calc(16/1920 * 100vw);
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    margin-top: calc(27/1920 * 100vw);
    margin-bottom: calc(37/1920 * 100vw);
}

.card-education-footer {
    margin-top: calc(63/1920 * 100vw);
}