.home{
    position: relative;
    margin-top: calc(100 / 1920 * 100vw);
    height: calc(860 / 1920 * 100vw);
    margin-inline: center;
}

.home__conten-img-avatar{
    width: calc(323/1920*100vw);
}

.home__img{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
}

.home__content{
    display: flex;
    align-items: center;
    margin-left: calc(120 / 1920 * 100vw);
    margin-top: calc(100 / 1920 * 100vw);

}
.home__subtitle{
    margin-bottom: calc(50 /1920 * 100vw);
    font-size: calc(32 / 1920 * 100vw);
    width: calc(570 / 1920 * 100vw);
    font-weight: 700;
    color: var(--main-pink);
}

.home__subtitle span{
    color: #fff;
}

.home__conten-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc(215 / 1920 * 100vw);
}


.home__quote{
    position: relative;
    top: calc(-10 / 1920 * 100vw);
    z-index: 10;
    width: calc(600 / 1920 * 100vw);
    border: 2px solid var(--main-gray);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(5.5px);
}

.home__quote-p{
    width: calc(530 / 1920 * 100vw);
    padding-left: calc(55 / 1920 * 100vw);
    padding-top: calc(35 / 1920 * 100vw);
    padding-bottom: calc(35 / 1920 * 100vw);
}

.home__author{
    display: flex;
    padding-left: calc(55 / 1920 * 100vw);
    padding-bottom: calc(30 / 1920 * 100vw);
}

.home__author-p{
    padding-left: calc(25 / 1920 * 100vw);
    font-size: calc(24 / 1920 * 100vw);
    font-weight: 700;
}
.home__logo-set{
    margin-top: calc(150 / 1920 * 100vw);
    width: calc(400 / 1920 * 100vw);
}

.home__logo-item1{
    display: flex;
    align-items: flex-end;
}

.home__logo-item1-i2{
    padding-left: calc(120 / 1920 * 100vw);
}

.home__logo-item1-i3{
    padding-left: calc(45 / 1920 * 100vw);
}

.home__logo-item2{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-top: calc(30 / 1920 * 100vw);
}

@media (max-width: 1440px) {
    .home{
        height: calc(880 / 1440 * 100vw);
    }
    .home__conten-img{
        margin-left: calc(315 / 1440 * 100vw);
    }
}

@media (max-width: 820px) {
    .home{
        margin-top: calc(95 / 640 * 100vw);
        height: calc(1000 / 640 * 100vw);
    }
    .home__conten-img-avatar{
        width: 60%;
    }
    .home__subtitle{
        margin-bottom: calc(50 /640 * 100vw);
        font-size: calc(32 / 640 * 100vw);
    }
    .home__content{
        flex-direction: column;
        margin-inline: calc(10 / 640 * 100vw);
    }
    .home__logo-set{
        display: none;
    }
    .home__subtitle{
        width: 100%;
    }

    .home__conten-img{
        margin-top: calc(20 / 640 * 100vw);
        margin-inline: calc(10 / 640 * 100vw);
        width: 100%;
    }

    .home__quote{
        width: 100%;
        top: calc(-20 / 640 * 100vw);
    }

    .home__quote-p{
        width: 100%;
        padding-inline: calc(20 / 640 * 100vw);
    }
    .home__author-p{
        font-size: calc(24 / 640 * 100vw);
    }
}

@media (max-width: 420px) {
    .home{
        height: calc(1100 / 420 * 100vw);
    }

    .home__conten-img-avatar{
        width: 85%;
    }

    .home__subtitle{
        margin-bottom: calc(30 /420 * 100vw);
        font-size: calc(20 / 420 * 100vw);
    }

    .home__conten-img{
        margin-top: calc(20 / 420 * 100vw);
    }

    .home__quote{
        width: 100%;
        top: calc(-20 / 420 * 100vw);
    }
    .home__author{
        padding-top: calc(20 / 420 * 100vw);
    }

    .home__author-p{
        font-size: calc(24 / 420 * 100vw);
    }
}