.home{
    margin-top: calc(110 / 1920 * 100vw);
    position: relative;
    height: calc(740 / 1920 * 100vw);
}

.home-bg-img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

@media (max-width: 1440px) {
    .home{
        margin-top: calc(90 / 1440 * 100vw);
        height: calc(740 / 1440 * 100vw);
    }
}

@media (max-width: 820px) {
    .home{
        margin-top: calc(70 / 640 * 100vw);
        height: calc(740 / 640 * 100vw);
    }
}

@media (max-width: 420px) {
    .home{
        margin-top: calc(75 / 420 * 100vw);
        height: calc(740 / 420 * 100vw);
    }
}